:root {
  --fondo: #eff6ff;
  /* Definimos el nombre de la variable */
}

/* Quitamos bordes de Modal */
.modal-content {
  border: none;
  padding: 20px !important;
}

.modal-header {
  color: #FE6100;
  padding-bottom: 20px;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}

.modal-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain !important;
  /* Mantiene la proporción de la foto */
  border-radius: 0.2rem;
}

@keyframes glow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

#app-content {
  display: none;
  margin-top: 60px;
}

.glow {
  animation: glow 2s infinite;
}

/*Protección para no seleccionar texto */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-overflow {
  height: 40px;
  margin-top: -20px;
  margin-bottom: -20px;
  vertical-align: middle;
}

.navbar {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 20px;
}